In [1]:
import db_manager as dbm
import pandas as pd

In [2]:

dados = dbm.consultar_contas() # Query com a tabela de contas e saldo
df_conta = pd.DataFrame(dados) # Cria Dataframe


dados = dbm.consultar_contas() # Query com a tabela de contas e saldo
df_conta = pd.DataFrame(dados) # Cria Dataframe

In [3]:
df_conta

   id_conta            conta   saldo
0         1  Banco do Brasil  2000.0
1         2            CAIXA   540.0

In [27]:
saldo_conta_deb = df_conta[df_conta['conta'] == 'Banco do Brasil']['saldo'].iloc[0]
saldo_conta_cred = df_conta[df_conta['conta'] == 'CAIXA']['saldo'].iloc[0]
f'De {saldo_conta_deb = } para {saldo_conta_cred = }'

'De saldo_conta_deb = 2000.0 para saldo_conta_cred = 540.0'

In [28]:
type(saldo_conta_deb)

numpy.float64

In [ ]:
valor_mov = 50
novo_saldo_deb = saldo_conta_deb - valor_mov
novo_saldo_cred = saldo_conta_cred + valor_mov

dbm.movimentacao('Banco do Brasil', 'CAIXA', novo_saldo_deb, novo_saldo_cred)